*{
    padding: 0;
    margin: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.main{
    display: flex;
    background-color: black;
    padding: 3%;
}
.signup{
    padding: 10% 15% 10% 15%;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    color: white;
    background: linear-gradient(to right, gray, black);
}
.signup div h3{
    color: rgb(191, 182, 182);
    margin-bottom: 10px;
    margin-top: 10px;
}
.signup div input{
    padding: 8px;
    border-radius: 25px;
    font-size: 18px;
}
.signup button{
    padding: 3px;
    width: 100%;
    border-radius: 25px;
    background: linear-gradient(to right,gray,black);
    color: white;
    font-size: 25px;
}

nav{
    background:linear-gradient(to right, gray,black);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px;
}
.msearch{
    height:30px;
    width: 350px;
    padding: 5px;
    border-radius: 50px;
    background:linear-gradient(to right,black,gray);
    outline: none;
    border:none;
    color: white;
}
nav h1{
    padding-left: 45px;
    font-size: 38px;
}
.alltabs a{
    text-decoration: none;
    color: white;
    padding-right: 15px;
    font-size: 20px;
}


.bgvid{
    height: 90vh;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.bgvideo{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: relative;
    border-radius: 25px;
}
.taglines{
    position: absolute;
    top: 30%;
    gap: 10px;
    right: 15px;
    padding: 15px;
}
.tag1vid{
    height: 50px;
    width: 90px;
    object-fit: cover;
    border-radius: 20%;
}
.tagline1{
    color: white;
    font-size: 22px;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 4px;
    text-shadow: 1px 4px 10px black;
}
.tagline2{
    color: white;
    font-size: 26px;
    font-weight: 900;
    text-shadow: 1px 4px 10px black;
    
}
.bgvid button{
    background:linear-gradient(to right, gray,rgba(128, 128, 128, 0.324));
    position: absolute;
    top: 80vh;
    right: 10vh;
    padding: 5px 40px 5px 40px;
    border-radius: 150px;

}
.bgvid a{
    text-decoration: none;
    color: white;
    font-size: 28px;
    font-weight: 900;
}